- content_for :metatags do
  = javascript_include_tag 'tweet/jquery.tweet', 'zrssfeed/jquery.zrssfeed.min'
  :javascript
    $(function(){
      $('.mailee_tweets').tweet({
        username: "maileeme",
        join_text: "auto",
        avatar_size: 32,
        count: 5,
        auto_join_text_default: "#{t('tweet.auto_join_text_default')}",
        auto_join_text_ed: "#{t('tweet.auto_join_text_ed')}",
        auto_join_text_ing: "#{t('tweet.auto_join_text_ing')}",
        auto_join_text_reply: "#{t('tweet.auto_join_text_reply')}",
        auto_join_text_url: "#{t('tweet.auto_join_text_url')}",
        loading_text: "#{t('tweet.loading_text')}"
      });
      $('#mailee_rss_blog').rssfeed('http://blog.mailee.me/rss.xml', {
        limit: 5,
        header: false,
        titletag: 'h3',
        date: false,
        errormsg: "#{t('blog.errormsg')}"
      });
    });
#mailee_awards
  .awards_wrapper
    %table{:style => 'margin-top:30px', :cellpadding => 0, :cellspacing => 0}
      %tr
        %td{:style => 'padding:0 20px 0 0; width:33%'}
          = image_tag 'awards/tdp_ok.png', :style => 'float:left;margin:0 10px 10px 0'
          %strong{:style => 'font-size:1.1em'} 1ยบ lugar - Tire do Papel
          %br
          O Mailee.me foi o grande vencedor do concurso Tire do Papel, realizado em novembro em Campinas.
          %br
          = link_to 'saiba mais', 'http://www.tiredopapel.com.br/', :target => :_blank
        %td{:style => 'padding:0 20px 0 0; width:33%'}
          = image_tag 'awards/rrw_ok.png', :style => 'float:left;margin:0 10px 10px 0'
          %strong{:style => 'font-size:1.1em'} 10 mais inovadoras
          %br
          O Mailee.me foi apontado como uma das 10 startups mais promissoras de 2010 pela Read Write Web Brasil.
          %br
          = link_to 'saiba mais', 'http://readwriteweb.com.br/2010/12/29/top-10-startups-brasileiras-de-2010/', :target => :_blank
        %td{:style => 'padding:0; width:33%'}
          = image_tag 'awards/cp_ok.png', :style => 'float:left;margin:0 10px 10px 0'
          %strong{:style => 'font-size:1.1em'} 2ยบ lugar - Campus Party
          %br
          O Mailee.me ficou em 2ยบ lugar no Campuseiros Empreendem, concurso que contou com mais de 300 concorrentes.
          %br
          = link_to 'saiba mais', 'http://startupi.com.br/2011/vencedores-da-competicao-campuseiros-empreendem/', :target => :_blank

%hr

#mailee_blog

  .blog_wrapper
    %h2= link_to((image_tag("social/rss_32.png") + ' Blog'), blog_path)
    #mailee_rss_blog
#mailee_twitter
  .twitter_wrapper
    %h2= link_to((image_tag("social/twitter_32.png") + ' Twitter'), twitter_path)
    .mailee_tweets &nbsp;
.clear
