.key_feature{:style => 'width:465px;height: 400px; max-height: 400px', :class => cycle('first_box','last_box')}
  .key_feature_wrapper{:style => 'position:relative'}
    = image_tag "cases/#{img}.png", :class => 'case_img'
    %div{:style => 'height:100px'}
    %h2{:style => 'margin:0 !important;padding:0'}= name
    %p= raw bio
    %p= raw about
    %hr
    %p= raw desc
    .clear
  .clear