- content_for :metatags do
  %meta{ :name => 'Keywords', :content => 'Mailee.me, Mailee, Email, Marketing, 2.0' }
  %meta{ :name => 'Description', :content => 'Mailee.me · Crie templates, envie mensagens e acompanhe resultados em um só lugar. Email marketing 2.0 tem criador de templates, geolocalização, integração com redes sociais, e muito mais!' }
  = javascript_include_tag 'tweet/jquery.tweet', 'zrssfeed/jquery.zrssfeed.min'
  :javascript
    $(document).ready(function(){
      $(".mailee_tweets").tweet({
        username: "maileeme",
        join_text: "auto",
        avatar_size: 32,
        count: 5,
        auto_join_text_default: #{'tweet.auto_join_text_default'},
        auto_join_text_ed: #{'tweet.auto_join_text_ed'},
        auto_join_text_ing: #{'tweet.auto_join_text_ing'},
        auto_join_text_reply: #{'tweet.auto_join_text_reply'},
        auto_join_text_url: #{'tweet.auto_join_text_url'},
        loading_text: #{'tweet.loading_text'}
      });
      $('#mailee_rss_blog').rssfeed('http://blog.mailee.me/rss.xml', {
        limit: 5,
        header: false,
        titletag: 'h3',
        date: false,
        errormsg: 'Ooops. Ocorreu um erro ao carregar o Feed.'
      });
    });
- content_for :signup_bar do
  = render('layouts/signup_bar')
= render('site/index/showcase')
.content_wrapper
  %br
  = render('site/index/social')
= javascript_include_tag 'index.js'