- content_for :metatags do
  %meta{ :name => 'Keywords', :content => 'Mailee.me, Mailee, Email, Marketing, 2.0' }
  %meta{ :name => 'Description', :content => 'Mailee.me · Crie templates, envie mensagens e acompanhe resultados em um só lugar. Email marketing 2.0 tem criador de templates, geolocalização, integração com redes sociais, e muito mais!' }
.content_wrapper
  #mailee_prices
    %h1 Preços
    %h2 Como funciona?
    %p{:style => 'font-size:1.25em;'}
      Você compra um <strong>pacote de envios</strong> e pode usar ao longo do tempo que quiser.
      %br
      Cada crédito equivale ao envio de uma mensagem para <strong>um contato</strong>.
      %br
      É como um celular <strong>pré-pago</strong>, só que seus créditos nunca expiram!
    .clear
    .span-13.append-1{:style => 'position:relative'}
      = image_tag 'aproveite.png', :style => 'position:absolute;top:-25px;left:270px'
      %br
      %br
      %br

      %table#prices_table{ :cellspacing => 0, :cellpadding => 0 }
        %thead
          %tr
            %th.right_aligned
              %h3 Pacote
            %th.right_aligned.promo
              %h3 Novos preços*
            %th.centered
              %h3 Preço por envio
        %tbody
          %tr
            %td.right_aligned
              %strong 500 créditos
            %td.right_aligned.price.promo R$ 14,00
            %td
              R$ 0,0280 por envio
          %tr.even
            %td.right_aligned
              %strong 1 mil créditos
            %td.right_aligned.price.promo R$ 18,00
            %td
              R$ 0,0180 por envio
          %tr
            %td.right_aligned
              %strong 5 mil créditos
            %td.right_aligned.price.promo R$ 25,00
            %td
              R$ 0,0050 por envio
          %tr.even
            %td.right_aligned
              %strong 10 mil créditos
            %td.right_aligned.price.promo R$ 40,00
            %td
              R$ 0,0040 por envio
          %tr
            %td.right_aligned
              %strong 25 mil créditos
            %td.right_aligned.price.promo R$ 90,00
            %td
              R$ 0,0036 por envio
          %tr.even
            %td.right_aligned
              %strong 50 mil créditos
            %td.right_aligned.price.promo R$ 160,00
            %td
              R$ 0,0032 por envio
          %tr
            %td.right_aligned
              %strong 100 mil créditos
            %td.right_aligned.price.promo R$ 280,00
            %td
              R$ 0,0028 por envio
          %tr.even
            %td.right_aligned
              %strong 250 mil créditos
            %td.right_aligned.price.promo R$ 540,00
            %td
              R$ 0,0022 por envio
          %tr
            %td.right_aligned
              %strong 500 mil créditos
            %td.right_aligned.price.promo R$ 900,00
            %td
              R$ 0,0018 por envio
          %tr.even
            %td.right_aligned
              %strong 1 milhão de créditos
            %td.right_aligned.price.promo R$ 1.400,00
            %td
              R$ 0,0014 por envio
      %p
        Precisa de um pacote maior? #{link_to 'Entre em contato', commercial_mail}.
        %br
        * Preços válidos para 2013.
    .span-10.last
      %h3 Formas de pagamento
      %p
        Trabalhamos com o #{link_to 'PagSeguro', 'https://pagseguro.uol.com.br/'}, da UOL, que aceita as seguintes formas de pagamento:
      .span-5
        %ul
          %li Saldo PagSeguro
          %li Visa
          %li MasterCard
          %li Diners
          %li American Express
          %li Hipercard
          %li Aura
      .span-5.last
        %ul
          %li Banco Bradesco
          %li Banco Itaú
          %li Banco Unibanco
          %li Banco do Brasil
          %li Banco Banrisul
          %li Boleto Bancário
        %br
      .clear
      %hr
      %h3 Quer melhorar suas entregas?
      %p Utilize um endereço de IP exclusivo para a sua conta, a partir de R$ 79 mensais. Para mais informações confira nosso #{link_to 'help', 'http://help.mailee.me/IP_dedicado', :target => '_blank' } ou entre em #{link_to 'contato','mailto:suporte@mailee.me'}. 
      %hr
      %h3 Possui uma agência?
      %p #{link_to 'Conheça', 'http://mailee.me/agencias', :target => '_blank'} nossas vantagens e descontos.
      %hr
      %h1
        %a.signup_now{ :href => signup_path } Contrate já &raquo;
    .clear
