.footer_wrapper
  .span-5.append-1
    %h3 #{t('footer.policy')}
    %ul
      %li= link_to t('footer.anti_spam_policy'), spam_path
      %li= link_to t('footer.privacy_policy'), privacy_path
      %li= link_to t('footer.terms_of_use'), terms_path
  .span-5.append-1
    %h3 Documentação
    %ul
      %li= link_to 'Help', help_path
      %li= link_to 'Melhores práticas', best_practices_path
  .span-5.append-1
    %h3 entre em contato
    %ul.contact_list
      %li= link_to 'Suporte', support_mail
      %li= link_to 'Comercial', commercial_mail
    %hr
    .web_links
      = link_to((image_tag('social/rss_16.png') + ' Blog'), blog_path, :style => 'margin: 2px 0')
      %br
      = link_to((image_tag('social/facebook_16.png') + ' Facebook'), 'http://facebook.com/mailee.me',:style => 'margin: 2px 0')
      %br
      = link_to((image_tag('social/twitter_16.png') + ' Twitter'), twitter_path, :style => 'margin: 2px 0')
  .span-6.last
    #newsletter{:style => 'height:200px;' }
      %h3 Receba nossa newsletter
      #mailee_ok.hide
        %h4 Email cadastrado com sucesso.
        %p Você receberá uma confirmação por email.
        = link_to 'Cadastrar novo email.', '#', :class => 'subscribe_another_email'
      #mailee_error.hide
        %h4 Ocorreu um erro ao cadastrar o email
        = link_to 'Tentar novamente', '#', :class => 'subscribe_another_email'
      %form#mailee_form{ :action => '/mailee', :method => 'post' }
        = token_tag
        %fieldset
          %label{ :for => 'name' } Nome
          %br
          %input#name.title{ :name => 'name', :type => 'text', :tabindex => 6}
          %br
          %label{:for => 'email' } Email
          %br
          %input#email.title{ :name => 'email', :type => 'text', :tabindex => 7}
          %br
          %button#subscribe_newsletter_button{ :type => 'submit', :tabindex => 8}
            %span Cadastrar
          %p.quiet &asymp; 1 email por mês
          .clear
      :javascript
        $('#mailee_form').submit(function(){
          re = /^[a-z0-9\._-]+@([a-z0-9][a-z0-9-_]*[a-z0-9-_]\.)+([a-z-_]+\.)?([a-z-_]+)$/
          if(!this.email.value.match(re)) {
            alert("Confira o preenchimento do seu email.")
            this.email.focus()
            return false
          }
          var data = $(this).serialize()
          var url = $(this).attr('action')
          $.post(url, data, function(result){
            $('#mailee_form').fadeOut()
            if(result.ok){
              $('#mailee_ok').fadeIn()
            }else{
              $('#mailee_error').fadeIn()
            }
          }, 'json')
          return false
        })
        $('.subscribe_another_email').click(function(){
          $('#mailee_ok').hide()
          $('#mailee_form').fadeIn()
          return false
        })
  .clear
.colophon_wrapper{:style => 'overflow:visible;'}
  #colophon
    #{link_to '', 'http://softa.com.br/', :id => 'softa_logo', :title => 'Softa'}
    %p.copyright_info 
      Copyright &copy; 
      = Time.now.year
    .clear
