.header_wrapper
  #login_signup_box
    #{link_to 'Login', '#', :id => :login_button, :title => 'Login'}
    #{link_to t('header.try_for_free'), signup_path, :id => :signup_button, :title => t('header.try_for_free')}
    .clear
  #logo= link_to image_tag('mailee_logo.png', :alt => 'Mailee.me', :title => 'Mailee.me · Email Marketing 2.0'), root_path
  %ul#navigation
    %li= link_to 'Home', root_path, :class => "#{selected(:index)} home"
    %li= link_to t('header.nav.tour'), tour_path, :class => "#{selected(:tour)} resources"
    %li= link_to t('header.nav.prices'), prices_path, :class => "#{selected(:prices)} prices"
    %li= link_to t('header.nav.signup'), signup_path, :class => "#{selected(:signup)} signup"
    %li= link_to 'Help', help_path, :class => "#{selected(:help)} help"
    - if @online
      %li.chat_online
        %span.bull •
        = link_to 'Chat', '#'
    - else
      %li.chat_offline= mail_to 'suporte@mailee.me', 'Chat', :title => 'Chat offline. Envie um email mara suporte@mailee.me'
  .clear
.clear
.page_overlay.login_form.hide
  #login_form_box
    .close_login_panel{:style => 'margin: -202px 0 0 252px;'}
      #{image_tag('close.png')}
    %iframe{ :src => global_login, :width => "500px", :height => "350px", :scrolling => "no", :frameborder => 0, :style => 'background-color: transparent;', :allowtransparency => "true" }
.page_overlay.chat_box.hide
  #chat_box
    .close_login_panel{:style => 'margin: -276px 0 0 402px;'}
      #{image_tag('close.png')}
    %iframe{ :src => 'http://webchat.freenode.net?channels=maileeme&uio=MTA9dHJ1ZSYxMT0yMjYmMTI9dHJ1ZQ14', :width => "800px", :height => "500px", :scrolling => "no", :frameborder => 0, :style => 'background-color: transparent;', :allowtransparency => "true" }

:javascript 
  logins = 0
  $('#login_button').click(function(){
    $('#flash_video').css({'visibility':'hidden'})
    $('.page_overlay.login_form').fadeIn('slow')
    //if( logins )
    //  $('#login_form_box iframe').attr('src',$('#login_form_box iframe').attr('src'))

    logins++
    return false
  })
  $('.chat_online a').click(function(){
    $('#flash_video').css({'visibility':'hidden'})
    $('.page_overlay.chat_box').fadeIn('slow')
    return false
  })
  $('.close_login_panel').click(function(){
    $('.page_overlay').fadeOut('fast', function(){
      $('#flash_video').css({'visibility':'visible'})
    })
    return false
  })
  $('.page_overlay').click(function(){
    $('.page_overlay').fadeOut('fast', function(){    
      $('#flash_video').css({'visibility':'visible'}) 
    })
    
    return false
  })
  forward = function(){ $('.chat_online .bull').animate({color: '#8CC63F'}, 'slow', rewind) }
  rewind = function(){ $('.chat_online .bull').animate({color: '#5C960F'}, 'slow', forward) }
  forward()
  
:javascript
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/92c26dc14e9f773aabbfec1caeb7ff3f6fed64fb.1.js');  