!!!5
%html{ :lang => t('lang')}
  %head
    %meta{ :charset => 'UTF-8' }
    /[if IE]
      %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge;chrome=1' }
    %meta{ :name => 'robots', :content => 'index, follow' }
    %title= @title
    = stylesheet_link_tag 'screen'
    %link{ :rel   => 'home',          :href      => 'http://mailee.me/' }
    %link{ :rel   => 'alternate',     :href      => 'http://blog.mailee.me/rss.xml', :type => 'application/rss+xml', :title => 'RSS' }
    %link{ :rel   => 'index',         :href      => 'http://mailee.me/sitemap' }
    %meta{ :name  => 'Author',        :content   => 'Softa' }
    %link{ :rel   => 'canonical',     :href      => 'http://mailee.me/' }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:bold'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.cookie', 'referrer'
    /[if IE]
      = stylesheet_link_tag 'ie'
      = javascript_include_tag 'ie6/jquery.reject.min'
      :javascript
        $(document).ready(function(){
          $.reject({
            display:     ['chrome', 'firefox','safari','msie','gcf'],
            header:       #{t('reject.header')},
            paragraph1:   #{t('reject.paragraph_one')},
            paragraph2:   #{t('reject.paragraph_two')},
            closeMessage: #{t('reject.close_message')},
            closeLink:    #{t('reject.close_link')},
            imagePath:    '../../images/browsers/',
            closeCookie:  true
          });
          return false;
        });
    = yield :metatags
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico', :type => 'image/vnd.microsoft.icon' }
  %body{:id => selected_menu}
    #root
      #header= render('layouts/header')
      #content= yield
      = yield :signup_bar
      #footer= render('layouts/footer')
    = render('layouts/google_analytics')
